.cart-item {
  align-items: center;
  border-radius: 2.5rem;
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  height: 25rem;
  margin: 3rem 0 0;
  max-width: 90vw;
  padding: 0 2rem;
  width: 70rem;

  @media (max-width: 670px) {
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
  }
}

.cart-item img {
  height: 20rem;
  padding-right: 2rem;
}

.cart-item__description {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 2.8rem;
  margin: 3rem auto 1rem;
  text-align: center;
  width: 100%;

  @media (max-width: 550px) {
    line-height: normal;
  }
}

.cart-item__price {
  font-weight: 600;
}

.cart-item__count {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.cart-item__count input {
  border: none;
  border-left: 1px solid rgb(117, 116, 116);
  border-right: 1px solid rgb(117, 116, 116);
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  width: 4rem;
}

.cart-item__button {
  background: none;
  border: none;
  font-size: 2.2rem;
  width: 1.8rem;
}
