.category-list__container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto 8rem;
  width: 85%;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 95%;
  }
}
