.category-bar {
  display: flex;
  background-color: #EFEFEF;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 4%;
  width: 100%;

  a {
    color: black;
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: none;
  }
}
