.category-bar {
  align-items: center;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  min-height: 2.9rem;
  padding: 0.5rem 4%;
  width: 100%;

  a {
    color: black;
    font-size: clamp(1.2rem, 3vw, 2.7rem);
    font-weight: 900;
    text-decoration: none;

    @media (max-width: 300px) {
      padding: 0.5rem 1%;
    }
  }
}
