.navbar {
  background-color: rgb(19, 19, 19);
  height: 8rem;
  width: 100%;

  @media (max-width: 500px) {
    height: 6rem;
  }
}

.navbar__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 5vw 0 8vw;
  width: 100%;

  @media (max-width: 500px) {
    padding: 0 0.5rem;
  }
}

.navbar__logo-container {
  height: 90%;
}

.navbar__logo {
  height: 100%;
}

.navbar__links-container {
  align-items: center;
  display: flex;
}

.navbar__links-container a {
  color: white;
  display: flex;
  font-size: 2.5rem;
  margin-left: 2rem;
  text-decoration: none;

  @media (max-width: 500px) {
    font-size: clamp(2rem, 5.5vw, 2.5rem);
    margin-left: 1rem;
  }
}

.shopping-cart {
  @media (max-width: 500px) {
    height: clamp(2.5rem, 6vw, 2.8rem);
  }
}
